<div class="activitiesContainer mx-auto p-3">
    <div class="activityHour">
        <p>10:00</p>
        <p>11:30</p>
    </div>
    <div class="activityInfo secondary-color">
        <div>
            <img src="icons/person.svg" alt="person-icon">
            <p>Miguel Goyena</p>
        </div>
        <img class="ms-auto" src="icons/spinning.svg" alt="spinning-icon">
        <div class="activityOptions">
            <a href="">
                <img src="icons/trash.svg" alt="trash-icon">
            </a>
            <a href="">
                <img src="icons/edit.svg" alt="edit-icon">
            </a>
        </div>
    </div>
</div>
