<div class="w-100 p-3">
    <!--Primera activity card del día-->
    <div class="w-100" >
        <div class="activityCardHour">
            <p>10:00</p>
            <p>11:30</p>
        </div>
        <div class="activityCardInfo secondary-color" *ngIf="activitiesOfTheDay2 !== undefined  && activitiesOfTheDay2['activity1']; else freeActivity1">
            <div class="text-center me-3">
                <img src="icons/person.svg" alt="person-icon">
                <p>{{activitiesOfTheDay2["activity1"].monitors[0].name}}</p>
            </div>
            
            <div class="text-center me-3" *ngIf="activitiesOfTheDay2['activity1'].monitors.length > 1">
                <img src="icons/person.svg" alt="person-icon">
                <p>{{activitiesOfTheDay2["activity1"].monitors[1].name}}</p>
            </div>
            
            <img class="ms-auto activityImg primary-color" [src]="activitiesOfTheDay2['activity1'].img" alt="spinning-icon">
            <div class="activityOptions">
                <img class="activityOptionIcon" src="icons/trash.svg" alt="trash-icon" (click)="showDeleteAlert('activity1')">
                <img class="activityOptionIcon" src="icons/edit.svg" alt="edit-icon" (click)="showActivityForm('activity1', activitiesOfTheDay2['activity1'])">
            </div>
        </div>
        <ng-template #freeActivity1>
        <div class="bg-success activityCardInfo position-relative">
            <p class="fs-2 fw-bold text-white">FREE</p>
            <img src="icons/add.svg" alt="add-icon" class="position-absolute top-0 end-0" (click)="showActivityForm('activity1')">
        </div>
        </ng-template>
    </div>
    
        
    <!--Segunda activity card del día-->
    <div class="w-100" >
        <div class="activityCardHour">
            <p>13:30</p>
            <p>15:00</p>
        </div>
        <div class="activityCardInfo secondary-color" *ngIf="activitiesOfTheDay2 !== undefined && activitiesOfTheDay2['activity2']; else freeActivity2">
            <div class="text-center me-3">
                <img src="icons/person.svg" alt="person-icon">
                <p>{{activitiesOfTheDay2["activity2"].monitors[0].name}}</p>
            </div>
            <div class="text-center me-3" *ngIf="activitiesOfTheDay2['activity2'].monitors.length > 1">
                <img src="icons/person.svg" alt="person-icon">
                <p>{{activitiesOfTheDay2["activity2"].monitors[1].name}}</p>
            </div>
            <img class="ms-auto activityImg primary-color" [src]="activitiesOfTheDay2['activity2'].img" alt="spinning-icon">
            <div class="activityOptions">
                <img class="activityOptionIcon" src="icons/trash.svg" alt="trash-icon" (click)="showDeleteAlert('activity2')">
                <img class="activityOptionIcon" src="icons/edit.svg" alt="edit-icon" (click)="showActivityForm('activity2', activitiesOfTheDay2['activity2'])">
            </div>
        </div>
        <ng-template #freeActivity2> 
        <div class="bg-success activityCardInfo position-relative">
            <p class="fs-2 fw-bold text-white">FREE</p>
            <img src="icons/add.svg" alt="add-icon" class="position-absolute top-0 end-0 imageHover" (click)="showActivityForm('activity2')">
        </div>
        </ng-template>
    </div>
    

    <!--Tercera activity card del día-->
    <div class="w-100" >
        <div class="activityCardHour">
            <p>17:30</p>
            <p>19:00</p>
        </div>
        <div class="activityCardInfo secondary-color" *ngIf="activitiesOfTheDay2 !== undefined  && activitiesOfTheDay2['activity3']; else freeActivity3">
            <div class="text-center me-3">
                <img src="icons/person.svg" alt="person-icon">
                <p>{{activitiesOfTheDay2["activity3"].monitors[0].name}}</p>
            </div>
            <div class="text-center me-3" *ngIf="activitiesOfTheDay2['activity3'].monitors.length > 1">
                <img src="icons/person.svg" alt="person-icon">
                <p>{{activitiesOfTheDay2["activity3"].monitors[1].name}}</p>
            </div> 
            <img class="ms-auto activityImg primary-color" [src]="activitiesOfTheDay2['activity3'].img" alt="spinning-icon">
            <div class="activityOptions">
                <img class="activityOptionIcon " src="icons/trash.svg" alt="trash-icon" (click)="showDeleteAlert('activity3')">
                <img class="activityOptionIcon" src="icons/edit.svg" alt="edit-icon" (click)="showActivityForm('activity3', activitiesOfTheDay2['activity3'])">
            </div>
        </div>
        <ng-template #freeActivity3>
        <div class="bg-success activityCardInfo position-relative">
            <p class="fs-2 fw-bold text-white">FREE</p>
            <img src="icons/add.svg" alt="add-icon" class="position-absolute top-0 end-0 imageHover" (click)="showActivityForm('activity3')">
        </div>
        </ng-template>
    </div>
</div> 
<app-form-add-activity [hidden]="isFormHidden" [receivedDate]="receivedDate" [activityKey]="activityKey" [activityToEdit]="activitySentToEdit" (closeFormEventEmitter)="isFormHidden = $event"></app-form-add-activity>
<!--
Durante la creación, Angular evalúa el enlace [activityToEdit]="'Valor Inicial'" y asigna ese valor a la propiedad decorada con @Input en el componente hijo.
Como este valor fue "cambiado" desde undefined (por defecto) a "Valor Inicial", Angular ejecuta automáticamente el ngOnChanges en el hijo.
Esto sucede porque Angular considera la inicialización de una propiedad decorada con @Input como un cambio en el valor, incluso si es la primera vez que se asigna. ¿Estás seguro de que deseas eliminar esta actividad?
-->
<app-delete-alert [hidden]="isDeleteAlertHidden" (closeDeleteAlertEventEmitter)="isDeleteAlertHidden = $event" [keysToDeleteActivity]="keysToDeleteActivity" [mensajeDeObjetoAEliminar]="'¿Estás seguro de que deseas eliminar esta actividad?'" [objetoAEliminar]="'Activity'"></app-delete-alert>