
<!--

-->
<img src="icons/add.svg" alt="add-icon" class="addIcon" (click)="showFormMonitor()">
<div class="carousel" >
    <div class="carousel-container"> 
        <app-monitor-card class="carouselItem" *ngFor="let eachMonitor of visibleMonitors" [monitorReceived]="eachMonitor"   (showMonitorFormEventEmitter)="showFormMonitor($event)" (showDeleteAlertEventEmitter)="showDeleteAlert($event)"></app-monitor-card>
    </div>
    <!-- Controles -->
    <img src="icons/leftArrow.svg" alt="leftArrow-icon" class="control prev" (click)="prevSlide()"  >
    <img src="icons/rightArrow.svg" alt="rightArrow-icon" class="control next" (click)="nextSlide()">
</div>
<app-form-monitor [hidden]="isFormMonitorHidden" [monitorToEdit]="monitorToEdit" (closeFormEventEmitter)="isFormMonitorHidden = $event"></app-form-monitor>
<app-delete-alert [hidden]="isDeleteAlertHidden" (closeDeleteAlertEventEmitter)="isDeleteAlertHidden = $event"></app-delete-alert>
