
.addIcon {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 160px;
    right: 25px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 300px;

.carousel-container {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: space-around;
    margin: auto;
    padding: 3px;    
}

.carouselItem {

    img {
        width: 100px;
        height: 100px;
        display: block;
    }
}

.control {
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 10;

    &.prev {
        left: -80px;
    }

    &.next {
        right: -80px;
    }
}
}
