<app-navbar></app-navbar>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<div class="container-fluid py-3 px-5">
    <div class="d-inline-block w-50 text-center">
        <a class="d-inline-flex align-items-center text-decoration-none" routerLink="/Actividades" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img class="activityOptionsImg" src="icons/calendar.svg" alt="calendar-icon">
            <p class="d-inline fs-3 my-0">ACTIVIDADES</p>
        </a>
    </div>
    <div class="d-inline-block w-50 text-center">
        <a class="d-inline-flex align-items-center text-decoration-none" routerLink="/Monitores" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img class="activityOptionsImg" src="icons/person.svg" alt="person-icon">
            <p class="d-inline fs-3 my-0">MONITORES</p>
        </a>
    </div>
</div>
