@use 'igniteui-angular/theming' as *;

//@use 'app-layout'; 

@use 'igniteui-angular/theming' as *;
@forward 'igniteui-angular/theming';

//--
.sample-wrapper {
    width: inherit;
    position: relative;
    height: 100%;
    margin: 0 auto;
    background: transparent;
}

.sample-content {
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 25%;
    align-content: flex-start;
    margin: 16px;
    min-width: 280px;
}

.sample-title {
    color: #0375be;
    margin-bottom: 12px;
    margin-top: 12px;
}

.sample-title .light {
    font-weight: 400;
}

.sample-description {
    font-size: 14px;
    font-weight: normal;
    color: #717171;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.headerAlignSyle {
    text-align: right !important;
}



//--
$palette: $light-material-palette;
$schema: $light-material-schema;

$default-palette: $palette;

$green-palette: palette(
    $primary: #09f,
    $secondary: #72da67,
    $surface: #333,
    $info: #1377d5,
    $success: #4eb862,
    $warn: #fbb13c,
    $error: #ff134a,
);

$gray-btn-color: color($green-palette, 'gray', 800);
//--




// Specifies large size for all components to match the previous defaults
// This may not be needed for your project. Please consult https://www.infragistics.com/products/ignite-ui-angular/angular/components/general/update-guide for more details.
:root {
  --ig-size: var(--ig-size-large);
}

/* autoprefixer grid: on */


@include core();
@include typography();
@include theme($palette: $palette, $schema: $schema);

:root {
  @include palette($palette);
}

.light-theme {
  @include light-theme($palette);
}

.dark-theme {
  background: #333;
  color: #fff;
  @include dark-theme($palette: $green-palette);

  .grid-chart-contextmenu-wrapper {
    @include fluent-dark-theme($fluent-excel-palette);
  }
}

.fin-dark-theme {
  @include dark-theme($green-palette);
  background: #333;

  ::-moz-placeholder {
    opacity: 1;
  }
}






.primary-color{
    color: #D25B5B;
}

.secondary-color{
    background-color: #D9D9D9;
}

.activitiesContainer {
    width: 40%;
}

.activityCardHour{
    width: 10%;
    display: inline-flex;
    flex-direction: column;
    text-align: center;

    p {
        margin-bottom: 0px;
    }
}

.activityCardInfo {
    width: 90%;
    height: 130px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    p {
        margin-bottom: 0px;
    }

    .activityImg {
        width: 100px;
        height: 132px;
    }

    .activityOptions {
        height: 100%;
        margin-left: 30px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        .activityOptionIcon {
            width: 35px;
            height: 35px;
        }
    }
}

.imageHover:hover {
    opacity: 0.8; /* Reduce la opacidad al pasar el cursor */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
    transition: all 0.3s ease-in-out; /* Agrega una transición suave */
}

.activityOptionsImg {
    width: 45px;
    height: 45px;
}

.formAddACtivityContainer {
    width: 50%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #191919;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    select {
        width: 60%;
        height: 40px;
        background-color: #D9D9D9;
    }

    button {
        width: 150px;
        height: 35px;
        color: white;
        border-radius: 15px;
        background-color: #D25B5B;
        border: none;

        &:first-child {
            margin-right: 50px;
        }
    }
}
