
<article class="calendar-wrapper">
    <igx-calendar [hasHeader]="false" [disabledDates]="disabledDates" [selection]="'single'" (selected)="sendSelectedDate($event)"></igx-calendar>
</article>
<div class="activitiesContainer mx-auto">
    <div id="topContainer" class="d-flex justify-content-between">        
        <img src="icons/leftArrow.svg" alt="leftArrow">        
        <p class="display-6 align-self-center">{{fechaActualEspanol}}</p>        
        <img src="icons/rightArrow.svg" alt="rightArrow">
    </div>
    <app-activity [receivedDate]="currentDate"></app-activity>
</div>